@model LeaveMgmt.Models.ViewAllocationVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Details for User: @Model.Person.Firstname @Model.Person.LastName</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.TaxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.TaxId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateJoined)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-light" asp-action="Index">Back to List</a>
</div>
<hr />
<h2>Leave Allocations</h2>
@{
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">

            @foreach(var item in Model.LeaveAllocations)
            {
            <li class="list-group-item">
                <h6>
                    @item.LeaveType.Name <span class="badge badge-secondary">@item.NumberOfDays</span>   
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">
                      |  <i class="fa fa-pencil"> </i> Edit
                    </a>
                </h6>
            </li>
            }
        </ul>
    </div>
}
